/config.py
/testing.py
/database.ini
/California.html
scrapedData/
/testPSQLConnection.py
/.DS_Store
/id.txt
/embeddingErrorLog.txt
/duplicateKeys.txt
/test.txt
/characterCodeResearch.txt
/cleanedRowsToUpdate.txt
/contentUpdate.txt
/definitionsUpdate.txt
/failedExtraction.txt
/nestedHeaderDict.txt
/testQueries.txt
intermediateParsingDicts/
scrapingSourceFiles/law-stackexchange-questions-answers.json
/definitionFromSections.txt
/definitionWithRanges.txt
/referenceDefinitions.txt
/remaining.txt
/testXML.txt